body {
  background: $body-background-color;
  color: $base-font-color;
}
h1 {
  color: $title-color;
}
a {
  color: $base-font-color;
}
.navbar {
  background-color: $nav-background-color;
  color: $nav-font-color;
  a {
    color: $nav-font-color;
  }
}

.wrapper {
  margin-top: 1rem;
}

.section {
  border: 0.05rem solid $border-color;
  padding: 1rem;
  margin-bottom: 1rem;
  ul {
    margin: 0;
  }
}
.section-title {
  color: $section-title;
}