/* ------ blog -------*/
.post-meta {
    display: flex;
    justify-content: flex-start;
    color: $blog-meta-text-color;
    margin-bottom: 0.5rem;
    .post-date {
        margin-right: 1rem;
    }
    .post-tags {

    }
}
.post-content {
  a {
    color: $post-href-color;
  }
  pre.highlight {
    padding: 1rem;
    border: 0.05rem solid $code-border-color;
    border-radius: 0.2rem;
  }
}