$pink: #EDC7B7;
$light-pink: #eee2dc;
$grey: #bab2b5;
$blue: #123C88;
$rose: #ac0861;

$body-background-color: $light-pink;
$title-color: $rose;
$base-font-color: $blue;
$border-color: $blue;

/* ----- Nav ---- */
$nav-background-color: $blue;
$nav-font-color: $grey;

/* ------ blog -------*/
$post-href-color: $rose;
$blog-meta-text-color: $grey;
$code-border-color: $grey;
